{% extends 'base.html.twig' %}

{% block title %}Home Sweet Home{% endblock %}

{% block body %}
    <br>
        
        {% if app.user %}
            <div class="div-right" >
                <button id="temp-lien" ><a href="{{path('Marque_add')}}"> -> Ajouter Une Marque non disponible</a></button>
            </div>
            
        {% endif %}

                <div class="div-table-home">
                    <table class="table-home" id="table-color">
                        <thead>
                            <tr>
                                <th class="heading-color">Choisi une marque : </th>
                                <th>origine</th>
                            </tr>
                        </thead>
                    {% for Annonce in Annonces %}
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path("home_show",{'id':Annonce.id}) }}">{{Annonce.nom}}</a> 
                                </td>
                                <td>{{ Annonce.origine }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                </div>

        <footer class="footer">
            <p >&copy; 2021 -Tablieh~tm Broduction !!</p>
        </footer>
        
{% endblock %}