{% extends 'base.html.twig' %}

{% block title %}Home Sweet Home{% endblock %}

{% block body %}
    <br>
        <div >
            <h3 class="uk-text-center">Bienvenue Chez Notre Site !</h3>
        </div>
        <div id="info"><h4 class="heading-color">Des Voitures valable ~ </h4></div>
        <div class="uk-container uk-container-small">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>origine</th>
                    <th>modeles</th>
                </tr>
            </thead>
        {% for Annonce in Annonces %}
            <tbody>
                <tr>
                    <td>{{Annonce.nom}}</td>
                    <td>{{ Annonce.origine }}</td>
                    <td>{% for modele in modeles %}{{modele.modele}} ,{% endfor %}</td>

                </tr>
            </tbody>
        {% endfor %}
        
         </table>
        </div>
        
{% endblock %}