{% extends 'base.html.twig' %}

{% block body %}
<a class="link" href="{{ path('home') }}" > Retour </a>
         <div class="uk-container uk-container-small">
        <table class="uk-table uk-table-hover-small" id="show">
            <thead>
                <tr>
                    <th>Les avis de ces modeles</th>
                </tr>
            </thead>
            <tbody>
                {% for modele in modeles %}
                    <tr>
                        <td>{{ modele.modele }}</td>
                    </tr>
                    <tr>
                        {% for voiture in modele.voitures %}
                            <td>
                                <ul>
                                {% for avis in voiture.avis %}
                                    <li>
                                        {{ avis.text }}
                                    </li> 
                                {% endfor %}
                                </ul>
                            </td>
                            
                            
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
<footer class="footer">
            <p >&copy; 2021 -Tablieh~tm Broduction !!</p>
        </footer> 
{% endblock %}