
html{
box-sizing:border-box;
}
.welcome{
margin-right: 360px;
font-size: 2rem;
text-align: center;
color: rgb(68, 17, 134);
}
.mod-v{
    color: indigo;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 15px;
}
div#voiture .uk-h1, h1{
    margin-top: 10px;
}
#modele_marque.uk-select{
    width: 10%;
}
#voiture_description.uk-textarea.uk-form-small{
width: 16%;
}

#voiture_image.uk-textarea.uk-form-small{
width: 19%;
}
#voiture_type{
width: 19.5%;
}
#voiture_nbPortes{
width: 6%;
}
#voiture_couleur{
width: 7%;
}
#voiture_modele{
width: 10%;
}
#avis_text.uk-textarea.uk-form-small{
width: 18%;
}
#avis_note{
width: 3%;
}
#avis_dateAvis{
width: 6%;
}
#avis_voiture{
width: 7%;
}
img.logo{
    width: 25%;
    display: flex;
 border-radius: 30px;
}
.lg-cov{
    margin-left: 170px;
    margin-right: 155px;
    margin-bottom:0px;
}
div.cover{
    margin-bottom:0px;
    margin-left:0px;
}
.cover{
    justify-content: left;
}
.lienRapid>ul{
    margin-bottom: 0px;
}
.lienRapid{
    text-align: right;
    margin-right: 10px;
}
.lienRapid>a{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    color:  rgb(38, 26, 211);
}
#roles{
    display: flex;
}
#roles > div{
    margin-left: 15px;
}

#registration_roles{
        width: 60%;
    line-height: 20px;
}
#info{
    margin-left: 100px;
    margin-bottom: 10px;
}
.heading-color{
   margin-left: 12em;
    font-size: 1.3em;
   color:slateblue;
    font-family: 'Lucida Sans';
}
.uk-text-center{
    color:  rgb(63, 103, 143);
}
.navbar-blue{

   background: rgb(51,153,255);
   background: linear-gradient(90deg, rgba(51,153,255,1) 0%, rgba(107,106,136,1) 35%, rgba(51,153,255,1) 100%);
}
.navbar-blue li>a{
    color: #fff;
}
.uk-navbar-nav>li.uk-active>a{
color: rgb(247, 246, 243);
}

.uk-table th{
    color:  rgb(10, 10, 10);
}
.form  {
    color: rgb(10, 10, 10);
   margin-left: 200px;
    min-height: 80vh;
}
.link{
    margin-left: 175px;
}
.uk-input, .uk-select, .uk-textarea{
    background-color: rgb(255, 255, 255);
}
.uk-input, .uk-select:not([multiple]):not([size]){
    height: 50px;
    font-size: small;
    width: 50%;
}
label{
    color: rgb(10, 10, 10);
    margin-right: 5px;
    font-size: large;
}


.image{
    margin-top: 15px;
    box-shadow: 0 0 0 5px #aac4f4;
    border-radius: 30px;
    margin-left: 190px;
    width: 40%;
    height: 40%;
}
#avis_text{
    width: 30%;
    background-color: rgb(255, 255, 255);
}
#voiture_description{
     width: 30%;
    background-color: rgb(255, 255, 255);
}
#voiture_image{
     width: 30%;
    background-color: rgb(255, 255, 255);
}
div{
    margin-bottom: 10px;
}

.box{
    display: inline-block;
    height: 150px;
    width: 150px;
    min-height: 160px;
    position: relative;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(190, 205, 245);
    
}
.uk-icon-link{
    color: crimson;
}
.uk-table th{
    border-style: solid;
    border-color: rgb(242, 245, 248);
    color: indigo;
}
.uk-table td{
    border-style: solid;
    border-color: rgb(245, 246, 247);
    color: rgb(10, 10, 10);
}

.cover{
    margin:25px 25px 25px 50px;

    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.zoom{
    margin-top: 15px;
    box-shadow: 0 0 0 5px #aac4f4;
    margin-left: 190px;
    height: 50%;   
}
#image-border{
    align-items: center;
}
#h2-flex{
    font-family: 'Playfair Display', serif;
    font-size: 2.75rem;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 0em;
}
.justify{
    max-width: fit-content;
     color: black;
    font-size: medium;
    font-family: 'Playfair Display', serif;
    text-align: justify;
}
th.text,.text{
    text-align: center;
}
.button{
    margin-left: 4px;
    margin-top: 10px;
    background-color: #1e87f0;
    border: 1px solid transparent;
    border-radius: 30px;
    height: fit-content;
}
.a-button {
    color:  #fff;
}
body{
position: relative;
min-height: 65vh;

}
.uk-alert{
    width: fit-content;
    margin-left: 100px;
    
}
.footer{
    text-align: center;
    background: rgb(51,153,255);
    background: linear-gradient(90deg, rgba(51,153,255,1) 0%, rgba(107,106,136,1) 35%, rgba(51,153,255,1) 100%);
    color: cornsilk;    
    bottom: 0;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

}
.div-right{
    text-align: left;
    margin-left: 9.5%;
}
.form-add{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.add{
    color: indigo;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button#temp-lien>a{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    color: rgb(1, 67, 247);
    
}
button#temp-lien{
    margin-right: 178px;
    border-radius: 40px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    
}
.div-table-home{
    min-height: 65vh;
    width: 900px;
    margin-left: 150px;
}
.table-home{
    width: 80%;
}
.table-home th{
    border-style: solid;
    border-color: rgb(136, 127, 136);
    color: rgb(191, 163, 211);
    background: rgb(51,153,255);
    background: linear-gradient(90deg, rgb(123, 137, 146) 0%, rgb(106, 106, 136) 35%, rgb(97, 107, 196) 100%);
    
    padding: 16px 12px;
    vertical-align: top;
}

.table-home td>a{
    color: rgb(77, 25, 160);
}
.table-home td{
    background-color: gainsboro;
    border-style: solid;
    border-color: rgb(136, 127, 136);
    color: rgb(10, 10, 10);
    padding: 16px 12px;
    vertical-align: top;
}
.uk-table th{
    background-color: rgb(163, 181, 231)
}
.uk-table td{
    background-color: gainsboro
}
.uk-navbar-toggle{
    color: cornsilk;
}
footer>p{
    margin-bottom: 0px;
}
#burger{
    display: none;
}
#connexion{
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
#register{
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.uk-container-small{
min-height: 65vh;
    width: 900px;

}
.image-avis{
    margin-left: 152px;
    opacity: 0.8;
    object-fit: cover;
    width: 1280px;
    height: 397px;
}
#banner{
    position: relative;
    margin: 0;
    height: 250px;
    overflow: hidden;
}

#banner figcaption{
    margin-left: 152px;
    width: 1263px;
    background-color: rgba(24, 32, 24, 0.5);
    color: #fff;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}
figcaption h1{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    color: #fff;
}
.lien{
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
    float: right;
    background-color: #2d3033;
    color: #fff;
    margin: 0;

}
.uk-table{
    width: 80%;
}
#head-tab{
    margin-left: 160px;
}
#tab{
    margin-left: 160px;
    width: 60%;
}
.continer{
    margin-right: 150px;
}
.row{
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
}
.flex{
    margin-left: 40px;
    }
/* pour les ecran jusqua une largeur de 800px */
@media screen and (max-width:800px){
    .mobile{
        display: block;
    }
    #burger{
        display: inline;
        padding: 0.5em;
    }
    .uk-navbar-toggle{
        align-content: right;
    }
    .heading-color{
    display: none;
    }
    .div-right{
        margin-right:5%;
    }
    .footer{
    text-align:justify;
    }
    .link{
    margin-left: 35px;
    }
    .image{
    margin-left: 20px;
    width: 250px;
    }
    .continer{
    margin-left:0px;
    display: flex;
    flex-direction: column;
    }
    .form{
    margin-left:13px;
    }
    .scrolling-wrapper{
    display: none;
    }
    .uk-button{
        padding:0.5rem;
        line-height:1rem;
    }
    #marque{
        margin-right: 0px;
    }
    #table-color{
    width: 36%;
    }
    #show{
    width: 36%;
    }
    #shows{
    width: 36%;
    }
    #mobile-dispnon{
    display: none;
    }
    #mobile-displnon{
    display: none;
    }
    .justify{
        width: 30%;
    }
    #image-border{
        width: fit-content;
    }
    .cover{
    margin-left:0px;
    }
    .zoom{
    margin-left: 0px;
    box-shadow: none;
    }
    .row{
        margin-left: 0px;
        display: block;
    }
    .image-avis{
        margin-left: 0px;
    }
    #banner figcaption{
        margin-left: 0px;
        width: 100px;
    }
     #banner figcaption>h1{
        display: none;
    }
    #head-tab{
        margin-left: 0px;
    }
    #tab{
        margin-left: 0px;
    }
}