{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <img class="image" src="{{asset("image/home.jpg")}}" alt="img">
    <div class="continer" >
        <div class="flex" >
            <h3>Ajouter Une Avis</h3>
            <button><a href="{{path('Avis_add')}}"> Ajouter Une Avis </a></button>
        </div>
    </div>



{% endblock %}