{% extends 'base.html.twig' %}

{% block body %}

    <div class="form" >
        <a class="ret" href="{{ path('gallary') }}" > Retour </a>

        {% if editMode %}
            <h1 class="mod-v">Modification d'un modele <h1>
        {% endif %}

            {{ form(VoitureType) }}
    </div>
    <footer class="footer">
            <p >&copy; 2021 -Tablieh~tm Broduction !!</p>
        </footer>
{% endblock %}