{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
<br>
        <div id="info"><h4 class="heading-color">Des Voitures valable ~ </h4></div>
        <div class="uk-container uk-container-small">
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th class="text">modele</th>
                        <th class="text">Delete</th>
                    </tr>
                </thead>
                {% for voiture in voitures %}
                    <tbody>
                        <tr>
                            <td class="text">
                                <a href="{{ path("Voiture_show",{'id':voiture.id}) }}"> {{ voiture.modele }} </a>
                            </td>
                            <td class="text">
					            <a class="uk-icon-link" uk-icon="trash" href="{{ path('Voiture_del', {'id':voiture.id}) }}"> </a>
				             </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

{% endblock %}
