{% extends 'base.html.twig' %}

{% block body %}

    <div class="form" >
        <a class="ret" href="{{ path('activitys_index') }}" > Retour </a>

        {% if editMode %}
            <h1>Modification d'un Modele <h1>
        {% else %}
            <h1 >Ajout d'un Modele</h1>
        {% endif %}
    
            {{ form(AjoutModeleType) }}
    </div>
{% endblock %}