{% extends 'base.html.twig' %}

{% block body %}

    <div class="form" >
        <a class="ret" href="{{ path('activity_index') }}" > Retour </a>

        {% if editMode %}
            <h1>Modification d'un Modele <h1>
        {% else %}
            <h1 >Ajout d'un Modele</h1>
        {% endif %}
    
            {{ form(ModeleType) }}
    </div>
    <footer class="footer">
            <p >&copy; 2021 -Tablieh~tm Broduction !!</p>
        </footer>
{% endblock %}