{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
<div id="content">
    <div>
        <h3>Ajouter Une Marque</h3>
        <button><a href="{{path('Marque_add')}}"> Ajouter Une Marque </a></button>
    </div> 
</div>


{% endblock %}
